<footer class="footer" id="myfooter">
        <h5>Made by Ravi Teja Chidurala</h5>
        <div class="icons">
                <a href="https://www.linkedin.com/in/ravi-teja-chidurala-b59b4b186/" target="_blank" class="fa fa-linkedin-square fa-4x"></a>
                <a href="https://github.com/r-teja" target="_blank" class="fa fa-github fa-4x"></a>
        </div>
</footer>
</body>

</html>